

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d4c8;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: "Gupter";
    font-size: 20px;
    color: #91927c;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    width: 981px;
    height: 26px;
}
}

section.content {
    padding: 20px;
   
}

h2 {
    font-family: "Gupter";
    font-weight: 700; 
    font-size: 50px;
    line-height: 59px;
    color: #494924; 
    text-align: center;
    width: 585px;
    height: 59px;
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
  
    font-family: "halant";
    font-size:15px;
    font-weight: 400;
    width: 981px;
    height: 52px;
    line-height: 26px;
    color: #4E4E4E;
    
}

.more {
    font-family: "halant";
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 194px;
    height: 48px;
    display: inline-block;
    padding: 10px, 14px, 10px, 14px;
    color: #fff;
    background-color: #4D5628;
    text-decoration: none;
    text-align: center;
    border-radius: 7px;  
    box-shadow: #444 0px 0px 5px;
}

.more:hover {
    background-color: #444;
}

.div2{
    
    display: grid;
    grid-template-rows: 300px;
    grid-auto-flow: column;
    grid-gap: 55px;
    overflow: auto;
    scroll-snap-type: x mandatory; 
    margin-left: 100px; 
    align-items: center;
}
.div1{
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.div1::after , .div1::before{

    content: "";
    display: block;
    background-color: #d3d4c8;
    width: calc(100vw + 2 * 60px);
    height: 130px;
    position: absolute;
    border-radius: 50%;
    left: calc(-1 * 60px);
    right: calc(-1 * 60px);
}

.div1::before{
    top: calc(-0.6 * 120px);
}
.div1::after{
    bottom: calc(-0.6 * 120px);
  
}

.iclass{
    height: 300px;
    width: 320px;
}



